<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flash Cards</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body> 
 
<div class="container" id="app">
  <h2>Flash Cards</h2>
  <hr>

<!-- Error Alert -->

<div class="alert alert-danger" v-show="err">
  <strong>Error!</strong> Title and Description can't be Empty.
</div>

<!-- To create New Card -->

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Title of the Flash Card</span>
  </div>
  <input type="text" class="form-control" id="title" v-model="inputTitle">
</div>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Desription</span>
  </div>
  <textarea class="form-control" aria-label="With textarea" id="desc" v-model="inputDesc"></textarea>
</div>
<br>
<button type="button" 
class="btn btn-outline-primary btn-sm btn-block" 
v-on:click="createNewCard"
v-show="!edit"> 
  Create Card
</button>
<button type="button" 
class="btn btn-outline-danger btn-sm btn-block" 
v-on:click="updateCard"
v-show="edit"> 
  Update Card
</button>


<!-- Ende -->
  <hr>

<!-- If no card available -->

<div class="alert alert-danger alert-dismissible fade show" v-show="!isCardsEmpty">
  <strong>No Cards Available!</strong> Add new Card.
</div>

<!-- Card -->
<div class="card-columns">
  <div class="card text-black bg-light" v-for=" (card,index) in cards">
    <div class="card-body">
      <h5 class="card-title">{{ card.title }}</h5>
      <hr>
      <p class="card-text">{{ card.desc }}</p>
    </div>
    <div class="card-footer">
      <button class="btn btn-outline-danger" v-on:click="cards.splice(index,1)">Delete</button>
      <button class="btn btn-outline-success" v-on:click="editCard(index)">Edit</button>
    </div>
  </div>
</div>
<!-- End Card -->
</div>

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>
